.portada{
    margin: 5px 5px 5px 5px;
    background-image: url('../img/portada.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200% 200%;
    height: 600px;
    
}

.portada h1{
    text-align: center;
    color: white;
}

.portada h3{
    text-align: center;
    color: white;
    text-decoration:underline;
}

.cabeza{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cabeza img {
    height: 30px;
    border-radius: 15px;
}

.menu ul{
    margin-top: 0px;
    display: flex;
    align-items: center;
}

.menu a{
    text-decoration: none;
}

.menu li{
    margin-right: 20px;
    list-style-type: none;
    color:white;
}
.exep{
    
    border: 1px solid black;
    padding: 5px;
}

.productos{
    border:1px solid green;
    
}

@media screen and (min-width: 768px){
    .portada{
        background-image: url('../img/portada.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 200% 200%;
        padding-bottom: 100px;
    }

    .portada h1{
        text-align: center;
        color: white;
        margin: 0px;
    }

    .portada h3{
        text-align: center;
        color: white;
    }
    

}