.portada{
    margin: 20px 20px 20px 20px;
    background-image: url('../img/portada.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 300%;
    
}

.portada h1, h5{
    text-align: center;
    color: white;
}

.cabeza{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cabeza img {
    height: 30px;
    border-radius: 15px;
}

.menu ul{
    display: flex;
    align-items: flex-start;
}

.menu a{
    text-decoration: none;
}

.menu li{
    margin-right: 20px;
    list-style-type: none;
    color:white;
}
.exep{
    border:3px solid grey;
}

@media screen and (min-width: 768px){
    .portada{
        background-image: url('../img/portada.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
}